@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply antialiased;
}

@layer base {
  body {
    @apply font-sans;
  }
}

@layer utilities {
  .text-color-primary {
    @apply text-black dark:text-white;
  }

  .text-color-secondary {
    @apply text-black/88 dark:text-zinc-300;
  }

  .text-color-tertiary {
    @apply text-black/72 dark:text-zinc-500;
  }

  .text-color-quaternary {
    @apply text-black/56 dark:text-zinc-600;
  }

  .surface-base {
    @apply bg-white dark:bg-zinc-900;
  }

  .surface-raised {
    @apply bg-zinc-100 dark:bg-zinc-800;
  }

  .surface-overlay {
    @apply bg-zinc-200 dark:bg-zinc-700;
  }

  .border-subtle {
    @apply border-zinc-200 dark:border-zinc-700;
  }

  .border-medium {
    @apply border-zinc-300 dark:border-zinc-600;
  }

  .border-strong {
    @apply border-zinc-400 dark:border-zinc-500;
  }

  .small-caps {
    font-variant-caps: small-caps;
    font-style: normal;
    color: var(--tw-prose-body);
  }

  .all-small-caps {
    font-variant-caps: all-small-caps;
    text-transform: lowercase;
    font-style: normal;
    color: var(--tw-prose-body);
  }

  .all-caps {
    font-variant-caps: titling-caps;
    text-transform: uppercase;
    font-style: normal;
    color: var(--tw-prose-body);
  }
}

@layer components {
  .prose-zinc,
  .prose-gray,
  .prose-slate,
  .prose-neutral,
  .prose-stone {
    --tw-prose-quotes: var(--tw-prose-body);
  }

  /* Headings */

  .prose h1 {
    font-weight: 600;
    @apply tracking-[-.04em] leading-[1.1] text-[3.5em] md:text-[4.5em] lg:text-[5.5em];
  }

  .prose h1 strong {
    font-weight: 500;
  }

  .prose h2 {
    font-size: 1.85714286em; /* 26px at prose-sm */
    font-weight: 325;
    @apply tracking-tight;
  }

  .prose h2 strong {
    font-weight: 525;
  }

  .prose h3 {
    font-size: 1.42857143em; /* 20px at prose-sm */
    font-weight: 350;
    @apply tracking-tight;
  }

  .prose h3 strong {
    font-weight: 550;
  }

  .prose h4 {
  }

  /* Default h5 and h6 to h4 */

  .prose-sm h5 + p,
  .prose-sm h6 + p {
    margin-top: 0;
  }

  .prose h5,
  .prose h6 {
    @apply font-bold;
    margin-top: 1.4285714em;
    margin-bottom: 0.5714286em;
    line-height: 1.4285714;
  }

  /* Blockquote */

  .prose blockquote {
    @apply font-serif font-normal not-italic;
  }

  .prose blockquote > p::before,
  .prose blockquote > p::after {
    content: none;
  }

  .prose blockquote strong em,
  .prose blockquote em strong {
    font-family: "Alegreya SC", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: lowercase;
  }

  /* Code */

  .prose :not(pre) > code {
    @apply bg-zinc-500/10 rounded-md p-1 py-0.5 text-zinc-700 font-normal;
  }

  .prose :not(pre) > code::before,
  .prose :not(pre) > code::after {
    content: none;
  }

  /* Links */

  .prose a {
    @apply text-sky-600 underline-offset-2;
  }

  .prose a.footnote-ref {
    text-decoration: none;
  }

  .prose a.footnote-back {
    text-decoration: none;
  }
}
