<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 }}">

    <title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}</title>

    <!-- Tailwind -->
    <link
      href="{{ '/assets/css/tailwind-output.css' | relative_url }}"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

  </head>

  <body class="surface-base antialiased">
    {% include nav.html %}

    <main class="max-w-screen-xl mx-auto px-6 lg:px-12 py-12">
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
