---
layout: default
---

<div
  class="flex flex-row flex-justify-center flex-contents-start flex-items-start gap-8"
>
  {% include posts-aside.html %}

  <article class="
    md:w-md
    max-w-prose
    prose prose-sm prose-zinc
    prose-p:leading-normal
    prose-img:rounded-lg
    prose-a:text-sky-600 prose-a:underline-offset-2
  ">
    <h1 class="mt-0 mb-6">{{ page.title }}</h1>
    <div
      class="border-y border-subtle flex flex-row flex-justify-start contents-center items-center gap-4 text-sm padding-y-2"
    >
      <p class="margin-0">{{ page.date | date: "%-d %B %Y" }}</p>
      <p class="margin-0">{{ page.author }}</p>
    </div>

    {{ content }}
  </article>
</div>
